
@model Routey.Models.YelpPlace

<div>
    <p>@Html.DisplayFor(model => model.Name)</p>
    <p>@Html.DisplayFor(model => model.Location.Address1)</p>
    <p>@Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.State) @Html.DisplayFor(model => model.Location.Zip_code)</p>
</div>
<hr />