
@model Routey.Models.Location

<script>
    $(document).ready(function () {
        $("#done").show();
    });
</script>
@if (Model.LocationType == "D")
{
    <p>@Html.DisplayFor(model => model.Address)</p>
    <p>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)</p>

}
else
{
    <div class="col s4 m4">
        <div class="card cardErrandBackground">
            <div class="card-content cardErrandText">
                <span class="card-title">@Html.DisplayFor(model => model.Name)</span>
                <div>

                    <p>@Html.DisplayFor(model => model.Address)</p>
                    <p>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)</p>
                </div>
            </div>
        </div>
    </div>
}

