
@model Routey.Models.Location

<script>
    $(document).ready(function () {
        $("#done").show();
    });
</script>

<div class="col s3">
    <p>@Html.DisplayFor(model => model.Name)</p>
    <p>@Html.DisplayFor(model => model.Address)</p>
    <p>@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)</p>
</div>
