@{
    ViewData["Title"] = "Home Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Routey.Models.YelpPlace


<li>Name: @Html.DisplayFor(model => model.Name)</li>
<li>Address1: @Html.DisplayFor(model => model.Location.Address1)</li>
<li>Address2: @Html.DisplayFor(model => model.Location.City), @Html.DisplayFor(model => model.Location.State) @Html.DisplayFor(model => model.Location.Zip_code)</li>

<li>Lat: @Html.DisplayFor(model => model.Coordinates.Latitude)</li>

<li>Long: @Html.DisplayFor(model => model.Coordinates.Longitude)</li>

<li>Id: @Html.DisplayFor(model => model.Id)</li>