@{
    ViewData["Title"] = "New Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Routey.Models.Route
<script>
    $(document).ready(function () {
        $("#newOrigin").hide();
        $("#newOriginDest").hide();
        $(".ui-widget").hide();
        $("#originSameQ").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                url: '@Url.Action("OriginDestQ")',
                success: function (result) {
                    if(result == "true")
                    {
                        $("#newOrigin").show();
                        $("#newOriginDest").hide();

                    } else if(result == "false")
                    {
                        $("#newOriginDest").show();
                        $("#newOrigin").hide();
                    }

                 }
            });
        });


        $("#auto").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: '@Url.Action("GetAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                       response(result);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        auto: ui.item.value
                    },
                    url: '@Url.Action("GetLocations")',
                    success: function (result) {
                        $("#log").show();
                        $('#log').html(result);
                    }
                });
            }
        });
        $("#auto2").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: $(this).serialize(),
                url: '@Url.Action("GetLocations")',
                success: function (result) {
                    $("#log").show();
                    $('#log').html(result);
                }
            });
        });
        
        $("#newOrigin").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("CreateNewOrigin")',
                success: function (result) {
                    var resultStringOrigin = "<p>Origin:</p> <p>" + result.address + "</p><p>" + result.city + ", " + result.state + "</p>";
                    console.log(result);
                    $(".ui-widget").show();

                    $('#origin').html(resultStringOrigin);

                }
            });
        });
    });
</script>

    <h3>You have created a new route</h3>
    
    <form id="originSameQ">
        <h4>Are the Origin and Destination the same?</h4>
            <input type="radio"  name="origin" value="true" checked />
            Yes
            <input type="radio" name="origin" value="false" />
            No
            <button type="submit">Submit</button>

</form>

    <form id="newOrigin">
        <label for="originAddress">Street Address</label>
        <input id="originAddress" name="originAddress">

        <label for="originCity">City</label>
        <input id="originCity" name="originCity">

        <label for="originState">State Abbreviation</label>
        <input id="originState" name="originState">

        <button type="submit">Submit</button>
    </form>

<form id="newOriginDest">
    <h5>Origin</h5>
    <label for="originAddress">Street Address</label>
    <input id="originAddress" name="originAddress">

    <label for="originCity">City</label>
    <input id="originCity" name="originCity">

    <label for="originState">State Abbreviation</label>
    <input id="originState" name="originState">

    <h5>Destination</h5>
    <label for="destAddress">Street Address</label>
    <input id="destAddress" name="destAddress">

    <label for="destCity">City</label>
    <input id="destCity" name="destCity">

    <label for="destState">State Abbreviation</label>
    <input id="destState" name="destState">

    <button type="submit">Submit</button>
</form>

<div id="origin"></div>
<div id="route"></div>

    <div class="ui-widget">
        <form id="auto2">
            <label for="auto">Add an Errand Business Stop!</label>
            <input id="auto" name="auto">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="ui-widget" style="margin-top:2em; font-family:Arial">
        Results:
        <div id="log"></div>
    </div>





