@{
    ViewData["Title"] = "New Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Routey.Models.Route
<script>
    $(document).ready(function () {
        $(".ui-widget").hide();
        $(".ui-widgetb").hide();
        $("#route").hide();
        $("#done").hide();
        @*$("#originSameQ").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                url: '@Url.Action("OriginDestQ")',
                success: function (result) {
                    if(result == "true")
                    {
                        $("#newOrigin").show();
                        $("#newOriginDest").hide();

                    } else if(result == "false")
                    {
                        $("#newOriginDest").show();
                        $("#newOrigin").hide();
                    }

                 }
            });
        });*@


        $("#auto").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: '@Url.Action("GetAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                        response(result);
                        $("#submitErrand").show();
                        $("#extend").hide();
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        auto: ui.item.value
                    },
                    url: '@Url.Action("GetLocations")',
                    success: function (result) {
                        $("#log").show();
                        $('#log').html(result);
                    }
                });
            }
        });
        $("#auto2").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: $(this).serialize(),
                url: '@Url.Action("GetLocations")',
                success: function (result) {
                    $("#log").show();
                    $('#log').html(result);
                }
            });
        });

        $("#newOrigin").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("CreateNewOrigin")',
                success: function (result) {
                    var resultStringOrigin = "<br /><hr><h5>Start:</h5> <p>" + result.address + "</p><p>" + result.city + ", " + result.state + "</p>";
                    console.log(result);
                    $(".ui-widget").show();
                    $(".ui-widgetb").show();
                    $("#newOrigin").hide();
                    $("#extend").hide();
                    $('#origin').html(resultStringOrigin);

                }
            });
        });

         @*$("#autob").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: '@Url.Action("GetGoogleAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.length === 0) {
                            $(".noResult").show();
                            $(".submitErrand").hide();
                            console.log(result);
                        }
                        else {
                            $(".submitErrand").show();
                            response(result);
                        }

                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        auto: ui.item.value
                    },
                    url: '@Url.Action("SetGoogleAddress")',
                    success: function (result) {
                        var resultString = "<p>Errand Address:</p> <p>" + result.address + "</p><p>" + result.city + ", " + result.state + "</p>";
                        $("#log").show();
                        $('#log').html(resultString);
                    }
                });
            }
        });
        $("#auto2b").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("SetGoogleAddress")',
                success: function (result) {
                    if (result == false)
                    {
                        $('#log').append("No Location Found...");

                    }
                    else {
                        var resultString = "<p>Errand Address:</p> <p>" + result.address + "</p><p>" + result.city + ", " + result.state + "</p>";
                        $("#log").show();
                        $('#log').html(resultString);

                    }

                }
            });
         });*@
        $("#endRoute").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '@Url.Action("EndRoute")',
                success: function (result) {
                    console.log(result);
                    var resultLink = '<a href="' + result + '">Map Link</a>';
                    $('#mapLink').html(resultLink);

                }
            });
        });

          $("#extend").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("EndRoute")',
                success: function (result) {
                    console.log(result);
                    var resultLink = '<a href="' + result + '">Map Link</a>';
                    $('#mapLink').html(resultLink);

                }
            });
        });
    });
</script>


<div class="container">
    
    <h2>Routey</h2>
    <h4>Take the Err out of your Errands</h4>
    <hr />
    <br />
    <form id="newOrigin">
        <h5>Create a Starting Point</h5>
        <label for="originAddress">Street Address</label>
        <input id="originAddress" name="originAddress" value="2315 SE Ankeny st">

        <label for="originCity">City</label>
        <input id="originCity" name="originCity" value="Portland">

        <label for="originState">State Abbreviation</label>
        <input id="originState" name="originState" value="OR">

        <button type="submit">Submit</button>
    </form>

    <div class="ui-widget">
        <form id="auto2">
            <label for="auto">Add an Errand Business Stop!</label>
            <input id="auto" name="auto"> 
            <button data-target="modal1" id="submitErrand" type="submit">Submit</button>
            <div id="extend">
                <h5>No Results...</h5>
                <br />
                <button id="extend" type="submit">Extend Search Radius?</button>
            </div>
        </form>
    </div>
    @*<div class="ui-widgetb">
        <form id="auto2b">
            <label for="autob">Add an Address Stop!</label>
            <input id="autob" name="autob">
            <button class="submitErrand" type="submit">Submit</button>
        </form>
    </div>*@
    <div id="log"></div>


    <div id="origin"></div>
    <div id="route" class="row"><hr /><h5>Locations: </h5></div>




        
    


    <div id="done">
        Done with your route?
        <form id="endRoute">
        <button  type="submit">Create your Link!</button>
        </form>    
        <div id="mapLink"></div>
    </div>

 </div>



