@{
    ViewData["Title"] = "Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Routey.Models.Route
<script>
    $(document).ready(function () {
        console.log("The Original Route Id Is =" + @ViewBag.checkRouteId);
        $(".ui-widget").hide();
        $("#route").hide();
        $("#done").hide();
        $("#noResult").hide();
        $("#radiusDest").selectmenu();
        $("#radius").selectmenu();
        $("#newDest").hide();
        $("#destQ").hide();
        $("#loaderOrigin").hide();
        $("#loaderDestQ").hide();
        $("#loaderDest").hide();
        $("#loaderErrand").hide();
        $("#destinationDiv").hide();
        $("#originCard").hide();
        $("#destCard").hide();
        //Code for getting Geolocation from user, needs error catching 
            @*if (navigator.geolocation) {
                navigator.geolocation.getcurrentposition(function (position) {
                    $.ajax({
                        url: '@url.action("getgeolocation")',
                        datatype: "json",
                        data: {
                            lat: position.coords.latitude,
                            long: position.coords.longtiude
                        },
                        success: function (result) {
                            var resultstring = "<p>latitude: " + result.latitude + "</p><p>longitude: " + result.longtiude + "</p>"
                            $('#test').html(resultstring);
                        }
                    });
                    
                });
            } else {
                alert('geo location feature is not supported in this browser.');
            }*@
     

        $("#auto").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: '@Url.Action("GetAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                        $("#noResultErrand").show();
                        $("#noResult").hide();
                        response(result);

                    }
               });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        auto: ui.item.value,
                        locationType: "W"
                    },
                    url: '@Url.Action("GetLocations")',
                    success: function (result) {
                        $("#log").show();
                        $('#log').html(result);
                    }
                });
            }
        });
        $("#newErrand").submit(function (event) {
            $("#noResultErrand").hide();
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: $(this).serialize(),
                url: '@Url.Action("GetLocations")',
                success: function (result) {
                    $("#log").show();
                    $('#log').html(result);
                }
            });
        });
        $("#autoDest").autocomplete({
            source: function (request, response) {

                $.ajax({
                    url: '@Url.Action("GetAuto")',
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (result) {
                        response(result);
                        $("#noResultDest").show();
                        $("#noResult").hide();
                    }
               });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    data: {
                        autoDest: ui.item.value,
                        locationType: "D"
                    },
                    url: '@Url.Action("GetLocationsDest")',
                    success: function (result) {
                        $("#log").show();
                        $('#log').html(result);
                    }
                });
            }
        });
        $("#newDest").submit(function (event) {
            $("#noResultDest").hide();
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: $(this).serialize(),
                url: '@Url.Action("GetLocationsDest")',
                success: function (result) {
                    $("#log").show();
                    $('#log').html(result);
                }
            });
        });
        $("#newOrigin").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("CreateNewOrigin")',
                success: function (result) {
                    if (result == false)
                    {
                        $("#noResult").show();
                    } else {

                        var resultStringOrigin = "<p>" + result.address + "</p><p>" + result.city + ", " + result.state + "</p>";
                        console.log(result);
                        $("#newOrigin").hide();
                        $("#originCard").show();
                        $("#destQ").show();
                        $("#noResult").hide();
                        $('#origin').html(resultStringOrigin);
                    }


                }
            });
        });

        $("#destQ").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                data: $(this).serialize(),
                url: '@Url.Action("DestinationQ")',
                success: function (result) {
                    if (result == true) {
                        $("#newDest").show();
                        $("#destQ").hide();

                    } else {

                        console.log(result);
                        $(".ui-widget").show();
                        $("#destQ").hide();

                    }
                }
            });
        });

        $("#endRoute").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '@Url.Action("EndRoute")',
                success: function (result) {
                    console.log(result);
                    var resultLink = '<a target="_blank" href="' + result + '">Map Link</a>';
                    $('#mapLink').html(resultLink);

                }
            });
        });
    });

</script>







<div class="container">

    <img class="logo" src="~/img/Routey Logo2.png" alt="Routey Logo" />
    <hr />
    <br />
    <form id="newOrigin">

        <h5>Create a Starting Point</h5>
        <label for="originAddress">Street Address</label>
        <input id="originAddress" name="originAddress" required>

        <label for="originCity">City</label>
        <input id="originCity" name="originCity" required>

        <label for="originState">State Abbreviation</label>
        <input id="originState" name="originState" required>

        <button type="submit">Submit</button>
    </form>
    <div class="preloader-wrapper big active" id="loaderOrigin">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <form id="destQ">
        <h4>What's your Destination?</h4>

        <input class="radio" type="radio" name="dest" value="OD" id="radio1" checked />
        <label for="radio1">Same as Start</label>
        <input class="radio" type="radio" name="dest" value="D" id="radio2" />
        <label for="radio2">Different then Start</label>
        <input class="radio" type="radio" name="dest" value="W" id="radio3" />
        <label for="radio3">Not sure/Doesn't Matter</label>
        <br />
        <br />
        <button type="submit">Submit</button>
    </form>
    <div class="preloader-wrapper big active" id="loaderDestQ">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <form id="newDest">
        <label for="autoDest">Add Destination Address</label>
        <input id="autoDest" name="autoDest">
        <div id="noResultDest">
            <label for="radiusDest">Search Distance (miles)</label>
            <select name="radiusDest" id="radiusDest">
                <option Value="8000">5</option>
                <option Value="16000" selected="selected">10</option>
                <option Value="40000">25</option>
                <option Value="80500">50</option>
                <option Value="161000">100</option>
            </select>
            <button type="submit" class="submitAddress" id="submitDest">Submit</button>
        </div>
    </form>
    <div class="preloader-wrapper big active" id="loaderDest">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <div class="ui-widget">
        <form id="newErrand">
            <label for="auto">Add a Stop!</label>
            <input id="auto" name="auto">
            <div id="noResultErrand">
                <label for="radius">Search Distance (miles)</label>
                <select name="radius" id="radius">
                    <option Value="8000">5</option>
                    <option Value="16000" selected="selected">10</option>
                    <option Value="40000">25</option>
                    <option Value="80500">50</option>
                    <option Value="161000">100</option>
                </select>
                <button class="submitAddress" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="preloader-wrapper big active" id="loaderErrand">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <div id="noResult"><br /><h5>No Results...</h5></div>
    <div id="log"></div>
    <div class="row">
        <div class="col s6 m6" id="originCard">
            <div class="card cardOriginDestBackground">
                <div class="card-content cardOriginDestText">
                    <span class="card-title">Start</span>
                    <div id="origin">
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 m6" id="destCard">
            <div class="card cardOriginDestBackground ">
                <div class="card-content cardOriginDestText">
                    <span class="card-title">Destination</span>
                    <div id="dest">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="originDest"></div>
    <div id="route">
        <hr />
        <h5>Locations: </h5>
        <div id="errandAppend" class="row">
        </div>
    </div>
    <div id="test"></div>
    <div id="done">
        Done with your route?
        <form id="endRoute">
            <button type="submit">Create your Link!</button>
        </form>
        <div id="mapLink"></div>
    </div>



    
</div>


